.navbar {
    display: flex;
    align-items: center;
    padding: 30px;
    height: 90px;
    width: 99%;
    background: rgb(61, 61, 61);
    border-bottom: 2px solid orange;
    font-size: 40px;
    font-weight: bolder;
    top: 0;
    position: fixed;
    z-index: 200;
}

.navbar a{
    text-decoration: none;
    color: orange;
    background: rgb(61, 61, 61);
}