.footer {
    height: 15vh;
    width: 100%;
    margin-top: 45px;
    border-top: 2px solid orange;
    background: rgb(37, 37, 37);
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }